.footer {
    padding: 1em;
    border-radius: 12px;
    background-color: white;
    width: 95%;
    bottom: 0;
    position: fixed;
}

.footer__buttons {
    display: flex;
    align-items: center;
    gap: 8%;
}

.footer__item > a {
    text-decoration: none;
}

.footer__item {
    text-align: center;
    width: 20%;
    height: 2.5em;
}

.item__text{
    margin-top: 0.3em;
    font-size: 12px;
    font-weight: 400;
}

.menu__icon {
    margin-top: 0.3em;
}

.reports__icon {
    margin-top: 0.1em;
}

.floating-button{
    position: fixed;
    bottom: 3.5em;
    left: 77.5%;
}

.floating-button__icon {
    width: auto;
}

@media screen and (min-width: 1690px) {
    .floating-button {
        display: none;
    }

    .floating-button__icon {
        height: 9em;
    }
    
    .footer {
        left: 0;
        width: 12%;
        height: 100vh;
    }

    .footer__buttons {
        align-items: normal;
        position: absolute;
        top: 3em;
        display: flex;
        flex-direction: column;
    }

    .footer__item > a {
        color: var(--font-light-color);
        align-items: center;
        display: flex;
        gap: 1em;
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 3em;
    }

    .footer__item {

        margin: 2.3em 0 0 0.4em;

    }

    .item__text {
        grid-template-columns: auto auto auto auto;
        font-size: 1.2em;
        font-weight: 500;
    }

    .item__icon {
        height: 2.3em;
    }

    .menu__icon {
        height: 1.4em;
    }


}